{% extends 'base.html'%}

{% block title %}<title> Login Page </title> {% endblock %}

{% block content1 %} 

<form method="POST" action=""> 
    {{form.hidden_tag()}}
     <div> 
        {{ form.EmpId.label }} <br>
	  {% if form.EmpId.errors %}
	    {% for error in form.EmpId.errors %}
              <span >{{ error }}</span><br>
          {% endfor %}
	  {% else %}
      {{ form.EmpId }} <br>
    {% endif %}
      </div>
     <div>
        {{ form.password.label }} <br>
	  {% if form.password.errors %}
	    {% for error in form.password.errors %}
              <span >{{ error }}</span><br>
          {% endfor %}
	  {% else %}
      {{ form.password}} <br>
    {% endif %}
      </div>
      <br>
      <div>{{form.submit}}</div>
    
    </form>

{% endblock %}