{% extends 'base.html' %}
{% block title %}<title> Register </title>  {% endblock %} 

{% block content1 %}

<form method="POST" action=""> 
    {{form.hidden_tag()}}
    <div> 
        {{ form.EmpName.label }} <br>
	  {% if form.EmpName.errors %}
	    {% for error in form.EmpName.errors %}
              <span >{{ error }}</span><br>
          {% endfor %}
	  {% else %}
      {{ form.EmpName }} <br>
    {% endif %}
      </div>
      <div> 
        {{ form.EmpSalary.label }} <br>
	  {% if form.EmpSalary.errors %}
	    {% for error in form.EmpSalary.errors %}
              <span >{{ error }}</span><br>
          {% endfor %}
	  {% else %}
      {{ form.EmpSalary }} <br>
    {% endif %}
      </div>
     <div> 
        {{ form.EmpId.label }} <br>
	  {% if form.EmpId.errors %}
	    {% for error in form.EmpId.errors %}
              <span >{{ error }}</span><br>
          {% endfor %}
	  {% else %}
      {{ form.EmpId }} <br>
    {% endif %}
      </div>
      <div> 
        {{ form.TechArea.label }} <br>
	  {% if form.TechArea.errors %}
	    {% for error in form.TechArea.errors %}
              <span >{{ error }}</span><br>
          {% endfor %}
	  {% else %}
      {{ form.TechArea }} <br>
    {% endif %}
      </div>
     <div>
        {{ form.password.label }} <br>
	  {% if form.password.errors %}
	    {% for error in form.password.errors %}
              <span >{{ error }}</span><br>
          {% endfor %}
	  {% else %}
      {{ form.password}} <br>
    {% endif %}
      </div>

      
      <div>
        {{ form.confirm_password.label }} <br>
	  {% if form.confirm_password.errors %}
	    {% for error in form.confirm_password.errors %}
              <span >{{ error }}</span><br>
          {% endfor %}
	  {% else %}
      {{ form.confirm_password}} <br>
    {% endif %}
      </div>
      <br>
      <div>{{form.submit}}</div>
    </form>

{% endblock %}